# CMake (legacy)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Python
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.venv/
venv/

# Node
node_modules/

# Compiled
*.o
*.so
